.ProjectCard {
	display: flex;
	flex-direction: row;
}
.repoName {
	font-size: 250%;
}
.repoImg {
	border-radius: 35px;
	padding-top: 4rem;
	padding-left: 2rem;
	width: 100%;
	height: 100%;
}
.projectInfo {
	font-size: 25px;
}
