body {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(133, 133, 133, 1) 33%,
		rgba(0, 0, 0, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(133, 133, 133, 1) 33%,
		rgba(0, 0, 0, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(133, 133, 133, 1) 33%,
		rgba(0, 0, 0, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#000000",GradientType=1);
	color: white;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
