/* Computer Screen Optimized */
@media screen and (min-width: 720px) {
	.techGallery {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding-top: 10rem;
	}

	/* Group of tech icons as whole */
	.techIcon {
		margin-bottom: 6rem;
		position: relative;
		filter: grayscale(100%);
		transition-duration: 0.5s;
	}
	.techIcon:hover {
		filter: grayscale(0%);
		transition-duration: 0.5s;
		transform: scale(1.1);
	}
	.techCol {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-items: space-between;
		margin: 0rem 3vw 0rem 3vw;
	}

	/* Headshot */

	#headshot {
		position: relative;
		max-width: 80%;
		height: auto;
		width: auto;
		border-radius: 20px;
		filter: grayscale(100%);
		transition-duration: 10s;
		padding-top: 8vh;
		margin: 0px 0px 100px 80px;
	}
	#headshot:hover {
		filter: grayscale(0%);
		transition-duration: 1s;
	}

	/* Individual Icons */

	#js {
		max-width: 75%;
		height: auto;
		width: auto;
	}
	#mongoose {
		max-width: 150%;
		height: auto;
		width: auto;
		margin-top: 1rem;
		margin-bottom: 5rem;
	}
	#node {
		max-width: 130%;
		height: auto;
		width: auto;
	}
	#express {
		max-width: 160%;
		height: auto;
		width: auto;
	}
	#mongo {
		max-width: 110%;
		height: auto;
		width: auto;
	}
	#mysql {
		max-width: 140%;
		height: auto;
		width: auto;
	}
	#html {
		max-width: 75%;
		height: auto;
		width: auto;
	}
	#css {
		max-width: 75%;
		height: auto;
		width: auto;
	}
	#github {
		max-width: 70%;
		height: auto;
		width: auto;
	}
	#react {
		max-width: 100%;
		height: auto;
		width: auto;
	}
	#bootstrap {
		max-width: 70%;
		height: auto;
		width: auto;
	}
}

/* Tablet Screen Optimized */
@media screen and (max-width: 719px) {
	.techGallery {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding-top: 10rem;
	}

	/* Group of tech icons as whole */
	.techIcon {
		margin-bottom: 6rem;
		position: relative;
		filter: grayscale(100%);
		transition-duration: 0.5s;
	}
	.techIcon:hover {
		filter: grayscale(0%);
		transition-duration: 0.5s;
		transform: scale(1.1);
	}
	.techCol {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
		justify-items: space-between;
		margin: 0rem 3vw 0rem 3vw;
	}

	/* Headshot */

	#headshot {
		position: relative;
		max-width: 80%;
		height: auto;
		width: auto;
		border-radius: 20px;
		filter: grayscale(100%);
		transition-duration: 10s;
		padding-top: 8vh;
		margin: 0px 0px 100px 80px;
	}
	#headshot:hover {
		filter: grayscale(0%);
		transition-duration: 1s;
	}

	/* Individual Icons hidden */
	#js {
		display: none;
	}
	#mongoose {
		display: none;
	}
	#node {
		display: none;
	}
	#express {
		display: none;
	}
	#mongo {
		display: none;
	}
	#mysql {
		display: none;
	}
	#html {
		display: none;
	}
	#css {
		display: none;
	}
	#github {
		display: none;
	}
	#react {
		display: none;
	}
	#bootstrap {
		display: none;
	}
}
