.techGallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 8vh;
}

/* Group of tech icons as whole */
.techIcon {
	position: relative;
	width: 11vh;
	height: 11vh;
	filter: grayscale(100%);
	transition-duration: 0.5s;
}
.techIcon:hover {
	filter: grayscale(0%);
	transition-duration: 0.5s;
	transform: scale(1.2);
}

/* Headshot */

#headshot {
	position: relative;
	height: 94vh;
	width: 35vw;
	left: 3vh;
	border-radius: 20px;
	filter: grayscale(100%);
	transition-duration: 1s;
	padding-top: 8vh;
	margin: 0px 0px 100px 80px;
}
#headshot:hover {
	filter: grayscale(0%);
	transition-duration: 1s;
}

@media screen and (min-width: 1080px) {
	/* Individual Icons */

	#js {
		left: 7rem;
		top: 43rem;
		height: 9rem;
	}
	#mongoose {
		top: 3rem;
		width: 11.5rem;
	}
	#node {
		left: 4rem;
		top: 14rem;
		width: 11rem;
	}
	#express {
		left: 11rem;
		top: 47rem;
		width: 18.7rem;
	}
	#mongo {
		right: 9rem;
		top: 6rem;
		width: 8.5rem;
		height: 8.5rem;
	}
	#mysql {
		left: 45rem;
		width: 17rem;
		height: 11rem;
	}
	#html {
		bottom: 2rem;
		right: 1rem;
		height: 9rem;
	}
	#css {
		left: 30rem;
		bottom: 12rem;
		height: 9rem;
	}
	#github {
		left: 3rem;
		top: 2rem;
	}
	#react {
		left: 1rem;
		bottom: 11rem;
		width: 7.5rem;
	}
}

@media screen and (min-width: 720px) {
	/* Individual Icons */

	#js {
		left: 7rem;
		top: 43rem;
		height: 9rem;
	}
	#mongoose {
		top: 3rem;
		width: 11.5rem;
	}
	#node {
		left: 4rem;
		top: 14rem;
		width: 11rem;
	}
	#express {
		left: 11rem;
		top: 47rem;
		width: 18.7rem;
	}
	#mongo {
		right: 9rem;
		top: 6rem;
		width: 8.5rem;
		height: 8.5rem;
	}
	#mysql {
		left: 45rem;
		width: 17rem;
		height: 11rem;
	}
	#html {
		bottom: 2rem;
		right: 1rem;
		height: 9rem;
	}
	#css {
		left: 30rem;
		bottom: 12rem;
		height: 9rem;
	}
	#github {
		left: 3rem;
		top: 2rem;
	}
	#react {
		left: 1rem;
		bottom: 11rem;
		width: 7.5rem;
	}
}
