.techGallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 8vh;
}

/* Group of tech icons as whole */
.techIcon {
	position: relative;
	width: 90px;
	height: 90px;
	filter: grayscale(100%);
	transition-duration: 0.5s;
}
.techIcon:hover {
	filter: grayscale(0%);
	transition-duration: 0.5s;
	transform: scale(1.1);
}

/* Headshot */

#headshot {
	position: relative;
	height: 980px;
	width: 755px;
	border-radius: 20px;
	filter: grayscale(100%);
	transition-duration: 10s;
	padding-top: 8vh;
	margin: 0px 0px 100px 80px;
}
#headshot:hover {
	filter: grayscale(0%);
	transition-duration: 1s;
}

/* Individual Icons */

#js {
	left: 50px;
	top: 700px;
	height: 120px;
}
#mongoose {
	top: 50px;
	width: 170px;
}
#node {
	left: 30px;
	top: 280px;
	width: 180px;
	height: 110px;
}
#express {
	left: 50px;
	top: 750px;
	width: 250px;
}
#mongo {
	right: 170px;
	top: 70px;
	width: 130px;
	height: 130px;
}
#mysql {
	top: 130px;
	left: 620px;
	width: 245px;
	height: 150px;
}
#html {
	top: 60px;
	right: 25px;
	height: 120px;
}
#css {
	left: 190px;
	bottom: 210px;
	height: 120px;
}
#github {
	left: 300px;
	bottom: 50px;
}
#react {
	left: 290px;
	bottom: 260px;
	width: 100px;
}
#handlebars {
	right: 200px;
	width: 140px;
	height: 110px;
}
