/* Custom Fonts */
@font-face {
	src: url('../Assets/ONEDAY.ttf');
	font-family: 'oneday';
}
.oneday {
	font-family: 'oneday';
	color: white;
}
@font-face {
	src: url('../Assets/ebrima.ttf');
	font-family: 'ebrima';
}
.ebrima {
	font-family: 'ebrima';
	color: white;
}

/* Removing default attributes of links */
.link {
	color: white;
	text-decoration: none;
}
.link:hover {
	color: rgba(211, 211, 211, 0.527);
	text-decoration: none;
	cursor: pointer;
}
.grow {
	transition: all 0.2s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

/* Uncategorized CSS */
.hidden {
	display: none;
}
