/* Full gallery div including headshot (from homepage.css) */
/* .techGallery {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding-top: 5vh;
} */

/* Group of tech icons as whole */
/* .techIcon {
	position: relative;
	width: 10%;
	height: 10%;
	filter: grayscale(100%);
	transition-duration: 0.5s;
}
.techIcon:hover {
	filter: grayscale(0%);
	transition-duration: 0.5s;
	transform: scale(1.1);
} */

/* Headshot */

/* #headshot {
	position: relative;
	height: 90%;
	width: 90%;
	filter: grayscale(100%);
	transition-duration: 10s;
}
#headshot:hover {
	filter: grayscale(0%);
	transition-duration: 1s;
} */

/* Individual Icons */

/* #js {
	left: 8vh;
	top: 55vh;
}
#node {
	left: 5vh;
	top: 28vh;
	width: 18%;
	height: 12%;
}
#express {
	left: 3vh;
	top: 65vh;
	width: 27%;
}
#mongo {
	right: 32vh;
	top: 6vh;
	width: 12%;
	height: 12%;
}
#mysql {
	top: 37vh;
	right: 21vh;
	width: 25%;
	height: 15%;
}
#html {
	right: 36vh;
	top: 12vh;
}
#css {
	right: 19vh;
	top: 52vh;
}
#github {
	right: 27vh;
	top: 4vh;

}
#react {
	right: 26vh;
	top: 29vh;
	width: 15%;
}
#handlebars {
	top: 11vh;
	right: 24vh;
	width: 15%;
}
 */

/* Full gallery div including headshot (from homepage.css) */
.techGallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding-top: 5vh;
}

/* Group of tech icons as whole */
.techIcon {
	position: relative;
	width: 10%;
	height: 10%;
	filter: grayscale(100%);
	transition-duration: 0.5s;
}
.techIcon:hover {
	filter: grayscale(0%);
	transition-duration: 0.5s;
	transform: scale(1.1);
}

/* Headshot */

#headshot {
	position: relative;
	height: 90%;
	width: 90%;
	filter: grayscale(100%);
	transition-duration: 10s;
}
#headshot:hover {
	filter: grayscale(0%);
	transition-duration: 1s;
}

/* Individual Icons */

#js {
	left: 8vh;
	top: 55vh;
}
#node {
	left: 5vh;
	top: 28vh;
	width: 18%;
	height: 12%;
}
#express {
	left: 3vh;
	top: 65vh;
	width: 27%;
}
#mongo {
	right: 32vh;
	top: 6vh;
	width: 12%;
	height: 12%;
}
#mysql {
	top: 37vh;
	right: 21vh;
	width: 25%;
	height: 15%;
}
#html {
	right: 36vh;
	top: 12vh;
}
#css {
	right: 19vh;
	top: 52vh;
}
#github {
	right: 27vh;
	top: 4vh;
}
#react {
	right: 26vh;
	top: 29vh;
	width: 15%;
}
#handlebars {
	top: 11vh;
	right: 24vh;
	width: 15%;
}
