footer {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-image: url('../../public/Assets/mountains.png');
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
}
.footLinks {
	margin-top: 22%;
	margin-bottom: 1rem;
}
